.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  font-family: 'Poppins',sans-serif;
  position: relative;
}

body, html {
    height: 100%;
    margin: 0;
}

.contentContainer {
  margin-right: 5%;
  margin-left: 5%;
}

.panel-body {
  background-color:black !important;
}

::selection {
  background: #333333;
  color: white;
}

.login-page {
  background-image: url('./login-background.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;  
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}

.btn.login-button {
  top: 47%;
  left: 10%;
  position: absolute;
  background-color: #1db954;
  background-repeat: no-repeat;
  background-size: cover; 
  color: #ffffff;
  width:250px;
  height:50px;
  text-align:center;
  padding:0 !important;
  margin:0;
  display: inline-block;
  line-height: 50px;
  border-radius: 150px;
  opacity: 1;
}

.btn.login-button:hover {
  color: #ffffff;
  background-color: #24c95e;
}

.btn-text {
  display: block;
  margin-left: 25px;
}

.btn-logo {
  position: absolute;
  display: inline-block;
  top: 6px;
  left: 6px;
  width: 35px;
  height: 35px; 
}

#root {
  height: 100%;
}